<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <input class="form-control bg-dark border-0" type="search" placeholder="Search">
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <!-- <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div> -->
        </div>
    </nav>
    <!-- Navbar End -->


    <% if (Datas) { %>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
           
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Contacts</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phonenumber</th>
                                <th scope="col">subject</th>
                                <th scope="col">message</th>
                                <th scope="col">option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i = 0; i < Datas.length; i++) { %>
                            <tr>
                                <th scope="row"><%= i + 1 %></th>
                                <td><%=Datas[i].name%></td>
                                <td><%=Datas[i].email%></td>
                                    <td><%=Datas[i].phonenumber%></td>
                                 
                                    <td><%=Datas[i].subject%></td>
                                    <td> <p style="max-width: 30em;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;"><%=Datas[i].message%></p></td>
                                 <td><button type="button" class="btn btn-danger rounded-pill m-2"  data-bs-toggle="modal" data-bs-target="#exampleModal<%= Datas[i]._id %>">Delete</button></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
    </div>
</div>

<% } else { %>
    <div style="display: flex; justify-content: center; align-items: center; ">
        <h1 style="color: red;">Item Not found</h1>
    </div>
<% } %>



<!--  -->
<% if (Datas) { %>
    <% for (let i = 0; i < Datas.length; i++) { %>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal<%= Datas[i]._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(11, 1, 1);">Confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a  href="/admin/deletecontact/<%=Datas[i]._id%>" class="btn btn-primary">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    
      <% } %>
  