
    <!--Header Start-->
    <header id="pq-header" class="pq-header-style-1 pq-has-sticky">
        <div class="pq-top-header">
            <div class="container-fluid">
            </div>
        </div>
        <div class="pq-bottom-header pq-has-sticky">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="/">
                                <img class="img-fluid logo" src="images/logos/logo.png" alt="techtrix">
                            </a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div id="pq-menu-contain" class="pq-menu-contain">
                                    <ul id="pq-main-menu" class="navbar-nav ml-auto">
                                        
                                        <li class="menu-item <%=locals.activeclass%> ">
                                            <a href="/">Home</a>
                                           
                                        </li>
                                   
                                        <li class="menu-item <%=locals.aboutclass%>">
                                            <a href="/about">About</a>
                                            
                                        </li>
                                        <li class="menu-item <%=locals.serviceclass%>">
                                            <a href="#">Service</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                <li class="menu-item <%=locals.classes%>">
                                                    <a href="/softwareDevelopment">Software Development</a>
                                                </li>
                                                <li class="menu-item <%=locals.webclass%>">
                                                    <a href="/WebDevelopment">Web Development</a>
                                                </li>
                                                <li class="menu-item <%=locals.mobclass%>">
                                                    <a href="/mobileDevelopment">Mobile Development</a>
                                                </li>
                                                <li class="menu-item <%=locals.Appclass%>">
                                                    <a href="/Appdevelopment">App Development</a>
                                                </li>
                                                <li class="menu-item <%=locals.Digclass%>">
                                                    <a href="/Digitalmarketing">Digital marketing</a>
                                                </li>
                                                <li class="menu-item <%=locals.Busclass%>">
                                                    <a href="/BuisnessConsulting">Buisness consulting</a>
                                                </li>
												<li class="menu-item <%=locals.Webclass%>">
                                                    <a href="/WebAnalitics">Web Analytics</a>
                                                </li>
												<li class="menu-item <%=locals.Ecoclass%>">
                                                    <a href="/Ecommerce">Ecommerce development</a>
                                                </li>
									<li class="menu-item <%=locals.Entclass%>">
                                                    <a href="/EnterPrice">Enterprise development</a>
                                                </li>
												<li class="menu-item <%=locals.Itsclass%>">
                                                    <a href="/itstaf">It Staff augmentation</a>
                                                </li>
												<li class="menu-item <%=locals.Braclass%>">
                                                    <a href="/branding">Branding and graphic design</a>
                                                </li>
                                            </ul>
                                        </li>
                                        
                                        <li class="menu-item <%=locals.productclass%>">
                                            <a href="/products">Products</a>
                                            
                                        </li>
                                        <li class="menu-item <%=locals.webhostclass%>">
                                            <a href="/webhosting">WebHosting</a>
                                            
                                        </li>
                                          <li class="menu-item <%=locals.Technologyclass%>">
                                            <a href="/Technology">Technology</a>
                                            
                                        </li>
                                          <li class="menu-item <%=locals.portfolioclass%>">
                                            <a href="/Portfolio">Portfolio</a>
                                            
                                        </li>
                                         </li>
                                          <li class="menu-item">
                                            <a href="/Careers">Career</a>
                                            
                                        </li>
                                        <li class="menu-item <%=locals.contactclass%>">
                                            <a href="/contact">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="pq-header-info-box">
                                <div class="pq-header-call">
                                    <a href="tel:+180045647824">
                                        <i class="fa fa-phone"></i>
                                        <div class="pq-call-info">
                                            <h5>9061 204 888</h5>
                                            <span>Make a call</span>
                                        </div>
                                    </a>
                                </div>
                                <!-- <a href="#" class="pq-button">
                                    <div class="pq-button-block">
                                        <span class="pq-button-text">Free Quote</span>
                                    </div>
                                </a> -->
                                <a href="/contact" class="pq-button">
                                    <div class="pq-button-block">
                                        <span class="pq-button-text">Free Quote</span>
                                    </div>
                                </a>
                            </div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header End-->

    <style>
        .pq-button{
            padding: 5px 10px; /* Adjust the padding to make the button smaller */
            font-size: 14px; /* Adjust the font size to make the text smaller */
            height: 3em;
        }
    </style>
    